@import url(fonts.css);
@import url(reset.css);

/* common.css: 프로젝트 공통 변수 및 클래스 */
:root {
  /* 루트 폰트 크기: 디자인 px 단위 매핑 */
  font-size: 62.5%; /* 1rem = 10px (16px * 0.625) */

  /* 색상 */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #666;

  --color-error: #ff4242;

  --color-bg: #fff;
  --color-focus: var(--color-black);

  /* 폰트 */
  --font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  /* 기타 */
  --header-height: 5.1rem;
  --transition-fast: 0.2s ease-in-out;
  --transition-base: 0.4s ease-in-out;
}

*:focus {
  /* outline: 0.2rem solid var(--color-black); */
}

body {
  background-color: var(--color-bg);
  color: var(--color-black);
  font-size: 1.2rem;
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0;
  overflow-y: hidden;
}
input,
select,
textarea,
button {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0;
  appearance: none;
}

/* 기본 스크롤바 설정 (WebKit 기반 브라우저용) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* 가로 스크롤일 경우 */
  background: transparent; /* 배경 없음 */
}

::-webkit-scrollbar-thumb {
  background-color: #171719;
  border: 2px solid #fff;
  border-radius: 8px;
  width: 4px;
  margin: auto;
}
::-webkit-scrollbar-thumb:hover {
  border-color: #171719;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 없음 */
}

/* 마진 유틸리티 클래스: 전체 (mg-) */
.mg-0 {
  margin: 0 !important;
}
.mg-04 {
  margin: 0.4rem !important;
}
.mg-08 {
  margin: 0.8rem !important;
}
.mg-12 {
  margin: 1.2rem !important;
}
.mg-16 {
  margin: 1.6rem !important;
}
.mg-20 {
  margin: 2rem !important;
}
.mg-24 {
  margin: 2.4rem !important;
}
.mg-28 {
  margin: 2.8rem !important;
}
.mg-32 {
  margin: 3.2rem !important;
}
.mg-36 {
  margin: 3.6rem !important;
}
.mg-40 {
  margin: 4rem !important;
}
.mg-auto {
  margin: auto !important;
}

/* 마진 유틸리티 클래스: x축 (mx-) */
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-04 {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}
.mx-08 {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}
.mx-12 {
  margin-left: 1.2rem !important;
  margin-right: 1.2rem !important;
}
.mx-16 {
  margin-left: 1.6rem !important;
  margin-right: 1.6rem !important;
}
.mx-20 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
.mx-24 {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}
.mx-28 {
  margin-left: 2.8rem !important;
  margin-right: 2.8rem !important;
}
.mx-32 {
  margin-left: 3.2rem !important;
  margin-right: 3.2rem !important;
}
.mx-36 {
  margin-left: 3.6rem !important;
  margin-right: 3.6rem !important;
}
.mx-40 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* 마진 유틸리티 클래스: y축 (my-) */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-04 {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}
.my-08 {
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}
.my-12 {
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}
.my-16 {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}
.my-20 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.my-24 {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
}
.my-28 {
  margin-top: 2.8rem !important;
  margin-bottom: 2.8rem !important;
}
.my-32 {
  margin-top: 3.2rem !important;
  margin-bottom: 3.2rem !important;
}
.my-36 {
  margin-top: 3.6rem !important;
  margin-bottom: 3.6rem !important;
}
.my-40 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* 마진 유틸리티 클래스: 방향별 */
.mt-0 {
  margin-top: 0 !important;
}
.mt-04 {
  margin-top: 0.4rem !important;
}
.mt-08 {
  margin-top: 0.8rem !important;
}
.mt-12 {
  margin-top: 1.2rem !important;
}
.mt-16 {
  margin-top: 1.6rem !important;
}
.mt-20 {
  margin-top: 2rem !important;
}
.mt-24 {
  margin-top: 2.4rem !important;
}
.mt-28 {
  margin-top: 2.8rem !important;
}
.mt-32 {
  margin-top: 3.2rem !important;
}
.mt-40 {
  margin-top: 4rem !important;
}
.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-04 {
  margin-right: 0.4rem !important;
}
.mr-08 {
  margin-right: 0.8rem !important;
}
.mr-12 {
  margin-right: 1.2rem !important;
}
.mr-16 {
  margin-right: 1.6rem !important;
}
.mr-20 {
  margin-right: 2rem !important;
}
.mr-24 {
  margin-right: 2.4rem !important;
}
.mr-28 {
  margin-right: 2.8rem !important;
}
.mr-32 {
  margin-right: 3.2rem !important;
}
.mr-40 {
  margin-right: 4rem !important;
}
.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-04 {
  margin-bottom: 0.4rem !important;
}
.mb-08 {
  margin-bottom: 0.8rem !important;
}
.mb-12 {
  margin-bottom: 1.2rem !important;
}
.mb-16 {
  margin-bottom: 1.6rem !important;
}
.mb-20 {
  margin-bottom: 2rem !important;
}
.mb-24 {
  margin-bottom: 2.4rem !important;
}
.mb-28 {
  margin-bottom: 2.8rem !important;
}
.mb-32 {
  margin-bottom: 3.2rem !important;
}
.mb-40 {
  margin-bottom: 4rem !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-04 {
  margin-left: 0.4rem !important;
}
.ml-08 {
  margin-left: 0.8rem !important;
}
.ml-12 {
  margin-left: 1.2rem !important;
}
.ml-16 {
  margin-left: 1.6rem !important;
}
.ml-20 {
  margin-left: 2rem !important;
}
.ml-24 {
  margin-left: 2.4rem !important;
}
.ml-28 {
  margin-left: 2.8rem !important;
}
.ml-32 {
  margin-left: 3.2rem !important;
}
.ml-40 {
  margin-left: 4rem !important;
}
.ml-auto {
  margin-left: auto !important;
}

/* 패딩 유틸리티 클래스: 전체 (pd-) */
.pd-0 {
  padding: 0 !important;
}
.pd-04 {
  padding: 0.4rem !important;
}
.pd-08 {
  padding: 0.8rem !important;
}
.pd-12 {
  padding: 1.2rem !important;
}
.pd-16 {
  padding: 1.6rem !important;
}
.pd-20 {
  padding: 2rem !important;
}
.pd-24 {
  padding: 2.4rem !important;
}
.pd-28 {
  padding: 2.8rem !important;
}
.pd-32 {
  padding: 3.2rem !important;
}
.pd-40 {
  padding: 4rem !important;
}

/* 패딩 유틸리티 클래스: x축 (px-) */
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-04 {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}
.px-08 {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}
.px-12 {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}
.px-16 {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}
.px-20 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.px-24 {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
}
.px-28 {
  padding-left: 2.8rem !important;
  padding-right: 2.8rem !important;
}
.px-32 {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
}
.px-40 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

/* 패딩 유틸리티 클래스: y축 (py-) */
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-04 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}
.py-08 {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}
.py-12 {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}
.py-16 {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}
.py-20 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.py-24 {
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}
.py-28 {
  padding-top: 2.8rem !important;
  padding-bottom: 2.8rem !important;
}
.py-32 {
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
}
.py-40 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

/* 패딩 유틸리티 클래스: 방향별 */
.pt-0 {
  padding-top: 0 !important;
}
.pt-04 {
  padding-top: 0.4rem !important;
}
.pt-08 {
  padding-top: 0.8rem !important;
}
.pt-12 {
  padding-top: 1.2rem !important;
}
.pt-16 {
  padding-top: 1.6rem !important;
}
.pt-20 {
  padding-top: 2rem !important;
}
.pt-24 {
  padding-top: 2.4rem !important;
}
.pt-28 {
  padding-top: 2.8rem !important;
}
.pt-32 {
  padding-top: 3.2rem !important;
}
.pt-40 {
  padding-top: 4rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pr-04 {
  padding-right: 0.4rem !important;
}
.pr-08 {
  padding-right: 0.8rem !important;
}
.pr-12 {
  padding-right: 1.2rem !important;
}
.pr-16 {
  padding-right: 1.6rem !important;
}
.pr-20 {
  padding-right: 2rem !important;
}
.pr-24 {
  padding-right: 2.4rem !important;
}
.pr-28 {
  padding-right: 2.8rem !important;
}
.pr-32 {
  padding-right: 3.2rem !important;
}
.pr-40 {
  padding-right: 4rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-04 {
  padding-bottom: 0.4rem !important;
}
.pb-08 {
  padding-bottom: 0.8rem !important;
}
.pb-12 {
  padding-bottom: 1.2rem !important;
}
.pb-16 {
  padding-bottom: 1.6rem !important;
}
.pb-20 {
  padding-bottom: 2rem !important;
}
.pb-24 {
  padding-bottom: 2.4rem !important;
}
.pb-28 {
  padding-bottom: 2.8rem !important;
}
.pb-32 {
  padding-bottom: 3.2rem !important;
}
.pb-40 {
  padding-bottom: 4rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-04 {
  padding-left: 0.4rem !important;
}
.pl-08 {
  padding-left: 0.8rem !important;
}
.pl-12 {
  padding-left: 1.2rem !important;
}
.pl-16 {
  padding-left: 1.6rem !important;
}
.pl-20 {
  padding-left: 2rem !important;
}
.pl-24 {
  padding-left: 2.4rem !important;
}
.pl-28 {
  padding-left: 2.8rem !important;
}
.pl-32 {
  padding-left: 3.2rem !important;
}
.pl-40 {
  padding-left: 4rem !important;
}

/* gap */
.gap-04 {
  gap: 0.4rem !important;
}
.gap-06 {
  gap: 0.6rem !important;
}
.gap-08 {
  gap: 0.8rem !important;
}
.gap-10 {
  gap: 1rem !important;
}
.gap-12 {
  gap: 1.2rem !important;
}
.gap-16 {
  gap: 1.6rem !important;
}
.gap-20 {
  gap: 2rem !important;
}
.gap-24 {
  gap: 2.4rem !important;
}
.gap-32 {
  gap: 3.2rem !important;
}
.gap-36 {
  gap: 3.6rem !important;
}
.gap-40 {
  gap: 4rem !important;
}

/* 추가 유틸리티 클래스 */
.scroll-no {
  overflow: hidden !important;
}
.w-full {
  width: 100% !important;
}
.w-auto {
  width: auto !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.hidden {
  display: none !important;
}
.bg-none {
  background: none !important;
}

.blind,
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* flex grid */
.flex {
  display: flex !important;
}
.flex-1 {
  flex: 1 !important;
}
.flex-none {
  flex: none !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}
.items-start {
  align-items: flex-end !important;
}
.items-center {
  align-items: center !important;
}
.items-end {
  align-items: flex-end !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}

/* font-family */
body .ui-widget,
body .ui-widget * {
  font-family: var(--font-family);
}

/* layout */
#wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  min-width: 144rem;
  height: 100vh;
  min-height: 0;
}
#header {
  flex: none;
  position: relative;
  padding: 1.1rem 2.4rem;
  border-bottom: 0.1rem solid #d9d9d9;
}
.header-in {
  display: flex;
  align-items: center;
}
.header-in .logo {
  display: inline-flex;
}
.header-in .logo a {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  position: relative;
}
.header-in .logo a.beta::after {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 1.9rem;
  width: 2.18rem;
  height: 0.8rem;
  background: url(../img/logo_beta.svg) no-repeat center/contain;
}
.header-in .logo .logo-img {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}
.header-in .logo .logo-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  background: url(../img/logo_small.png) no-repeat center/contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.header-in .logo .logo-text {
  position: relative;
  width: 5.4rem;
  height: 2rem;
  background: url(../img/logo_small_text.svg) no-repeat center;
  z-index: 1;
}
.header-in .utilbox {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-in .utilbox button + button {
  margin-left: 0.5rem;
}
.header-in .utilbox .user-on {
  display: flex;
  align-items: center;
}
.header-in .utilbox .user-on::before {
  content: "";
  width: 0.1rem;
  height: 1.6rem;
  margin: 0 1.6rem;
  background-color: #d9d9d9;
}
.header-in .utilbox .user-on .notify {
  display: inline-flex;
  width: 2.8rem;
  height: 2.8rem;
  background: url(../img/icon/icon_bell.svg) no-repeat center/1.6rem;
}
.header-in .utilbox .user-on .user-box {
  margin-left: 0.5rem;
}
.header-in .utilbox .user-on .user {
  display: inline-flex;
  position: relative;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  box-shadow: 0 0.3rem 0.1rem -0.1rem #1a1a1a12;
}
.header-in .utilbox .user-on .user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url(../img/bg_user.svg) no-repeat center/contain;
}

#head_drop_user {
  width: 16.4rem;
}
#head_drop_user li a {
  gap: 0.6rem;
  padding: 0.6rem !important;
  font-weight: 500;
  letter-spacing: 0;
}

#container {
  flex: 1;
  display: flex;
  min-height: 0;
}
.lnb {
  flex: none;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}
.lnb .top-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}
.lnb .top-toggle .btn-toggle {
  display: inline-flex;
  width: 2.8rem;
  height: 2.4rem;
  border-radius: 0.2rem;
  background: url(../img/icon/icon_menu_close.svg) no-repeat center;
  background-color: #f7f7f7;
  transition: var(--transition-base);
}
.lnb .lnb-menu {
  margin: 1.2rem 0;
}
.lnb .lnb-menu > li > a {
  display: flex;
  align-items: center;
  min-width: 0;
  padding: 0.3rem;
  border: 0.1rem solid transparent;
  border-radius: 0.4rem;
}
.lnb .lnb-menu > li > a .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0.2rem;
  background-color: #ebebeb;
}
.lnb .lnb-menu > li > a .icon::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;

  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: #8b8b8b;
}
.lnb .lnb-menu > li > a .icon-home::after {
  mask-image: url(../img/icon/icon_lnb_home.svg);
}
.lnb .lnb-menu > li > a .icon-image::after {
  mask-image: url(../img/icon/icon_lnb_image.svg);
}
.lnb .lnb-menu > li > a .icon-video::after {
  mask-image: url(../img/icon/icon_lnb_video.svg);
}
.lnb .lnb-menu > li > a .icon-shorts::after {
  mask-image: url(../img/icon/icon_lnb_shorts.svg);
}
.lnb .lnb-menu > li > a .icon-k-art::after {
  mask-image: url(../img/icon/icon_lnb_k_art.svg);
}
.lnb .lnb-menu > li > a .icon-others::after {
  mask-image: url(../img/icon/icon_lnb_others.svg);
}
.lnb .lnb-menu > li > a.active {
  border-color: #cccccc80;
}
.lnb .lnb-menu > li > a.active .icon {
  background-color: transparent;
}
.lnb .lnb-menu > li > a.active .icon::before {
  content: "";
  position: absolute;
  right: -0.4rem;
  bottom: -0.4rem;
  width: 4.4rem;
  height: 4.4rem;
  background: url(../img/bg_lnb_icon.png) no-repeat center/contain;
  pointer-events: none;
}
.lnb .lnb-menu > li > a.active .icon::after {
  background-color: #fff;
}
.lnb .lnb-menu > li > a .text {
  display: inline-flex;
  width: 13.5rem;
  padding-left: 1.6rem;
  color: #171719;
  font-size: 1.4rem;
  line-height: 1.43;
  font-weight: 500;
  letter-spacing: 0.0145em;
  white-space: nowrap;
  overflow: hidden;
  transition: var(--transition-base);
}
.lnb .lnb-like {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.lnb .lnb-like .icon-heart {
  flex: none;
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_lnb_heart.svg) no-repeat center/contain;
  transition: var(--transition-base);
}
.lnb .lnb-like.active .icon-heart {
  background-image: url(../img/icon/icon_lnb_heart_on.svg);
}
.lnb .lnb-like .text {
  width: 16.3rem;
  padding-left: 0.8rem;
  color: #171719;
  font-size: 1.4rem;
  line-height: 1.43;
  letter-spacing: 0.0145em;
  white-space: nowrap;
  overflow: hidden;
  transition: var(--transition-base);
}

.lnb.close .top-toggle .btn-toggle {
  background-image: url(../img/icon/icon_menu_open.svg);
  transform: translateX(-1.6rem);
}
.lnb.close .lnb-menu > li > a .text {
  width: 0;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
}
.lnb.close .lnb-like .icon-heart {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
}
.lnb.close .lnb-like .text {
  width: 0;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
}

.lob {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 28rem;
  border-left: 0.1rem solid #d9d9d9;
  background-color: var(--color-white);
}
.lob-container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
.lob-head {
  padding-top: 0.4rem;
  border-bottom: 0.1rem solid #d9d9d9;
}
.lob-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.8rem 1.6rem;
  color: var(--color-black);
  font-size: 1.8rem;
  line-height: 1.45;
  letter-spacing: 0.02em;
}
.lob-body {
}
.lob .lob-body .lob-tabs {
  position: relative;
  margin: -0.1rem 0 0 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: var(--color-white);
}
.lob .lob-body .lob-tabs .ui-tabs-nav {
  display: flex;
  position: relative;
  padding: 0 1.6rem;
  border: none;
  border-radius: 0;
  background: none;
}
.lob .lob-body .lob-tabs .ui-tabs-nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #d9d9d9;
  pointer-events: none;
}
.lob .lob-body .lob-tabs .ui-tabs-nav > li {
  flex: 1;
  margin: 0;
  border: none;
  background: none;
}
.lob .lob-body .lob-tabs .ui-tabs-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 2.8rem;
  padding: 0.5rem 0.4rem;
  color: #37383c47;
  font-size: 1.3rem;
  line-height: 1.38;
  font-weight: 500;
  letter-spacing: 0.0194em;
  text-align: center;
}
.lob .lob-body .lob-tabs .ui-tabs-nav > li.ui-tabs-active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  background-color: var(--color-black);
  pointer-events: none;
}
.lob .lob-body .lob-tabs .ui-tabs-nav > li.ui-tabs-active > a {
  color: #171719;
  font-weight: 600;
}
.lob .lob-body .lob-tabs .ui-tabs-panel {
  padding: 0;
}
.lob .lob-menu-item {
  padding: 0.4rem 0;
}
.lob .lob-menu-item .lob-menu-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  min-height: 3.2rem;
  padding: 0.8rem 1.6rem;
}
.lob .lob-menu-item .lob-menu-item-head .lob-menu-item-title {
  display: inline-flex;
  align-items: center;
  color: var(--color-black);
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 600;
}
.lob .lob-menu-item .lob-menu-item-head .toggle-switch {
  margin-left: auto;
}
.lob .lob-menu-item .lob-menu-item-body {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 1.6rem;
}
.lob .lob-footer {
  flex: none;
  padding: 1.2rem 1.6rem;
  margin-top: auto;
  background-color: var(--color-white);
}

.circle-image-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.4rem;
  padding: 0.4rem 0;
}
.circle-image-wrap .add,
.circle-image-wrap .circle-image-item {
  display: flex;
  flex: 0 0 calc((100% - 0.4rem * 4) / 5);
  position: relative;
}
.circle-image-wrap .add {
  border-radius: 20rem;
  border: 0.1rem solid rgba(112, 115, 124, 0.22);
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.13) inset, -1px 0 0 0 rgba(0, 0, 0, 0.13) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.17) inset, 0 1px 0 0 rgba(204, 204, 204, 0.5) inset, 0 3px 1px -1px rgba(26, 26, 26, 0.07);
  overflow: hidden;
}
.circle-image-wrap .add::before {
  content: "";
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: url(../img/icon/icon_plus.svg) no-repeat center/2.4rem;
}
.circle-image-wrap .circle-image-item {
  border-radius: 20rem;
  overflow: hidden;
  cursor: pointer;
}
.circle-image-wrap .circle-image-item::before {
  content: "";
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: url(../img/bg_image.png) no-repeat center/cover;
}
.circle-image-wrap .circle-image-item.active::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.2rem solid var(--color-black);
  border-radius: 100%;
}
.circle-image-wrap .circle-image-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square-image-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.4rem;
  padding: 0.4rem 0;
}
.square-image-wrap .square-image-item {
  flex: 0 0 calc((100% - 0.4rem * 2) / 3);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.square-image-wrap .square-image-item .img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 160%;
  border-radius: 0.4rem;
  background: url(../img/bg_image.png) no-repeat center/cover;
  overflow: hidden;
}
.square-image-wrap .square-image-item .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.square-image-wrap .square-image-item .text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
  color: var(--color-black);
  font-size: 1.1rem;
  line-height: 1.27;
  font-weight: 400;
  letter-spacing: 0.0311em;
  text-align: center;
}
.square-image-wrap .square-image-item.active .img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.2rem solid var(--color-black);
  border-radius: inherit;
}
.square-image-wrap .square-image-item.active .text {
  font-weight: 700;
}

.upload-drag-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  min-height: 12rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: 0.1rem dashed #d9d9d9;
  background: #f7f7f7;
  color: #777;
  font-size: 1.1rem;
  line-height: 1.27;
  font-weight: 400;
  letter-spacing: 0.0311em;
}
.upload-drag-box:not(.success):hover,
.upload-drag-box:not(.success):active,
.upload-drag-box:not(.success).active {
  border: 0.2rem solid #171719;
  background: var(--color-white);
  cursor: pointer;
}
.upload-drag-box + .upload-drag-box {
  margin-top: 0.4rem;
}
.upload-drag-box.success {
  background: none;
}
.upload-drag-box.success .imgbox {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.upload-drag-box.success .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload-drag-box.success .del {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.8rem;
  height: 2.8rem;
}

.model-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 0.4rem;
}
.model-wrap .btn-add {
  display: inline-flex;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  background: url(../img/icon/icon_plus.svg) no-repeat center/2.4rem;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.13) inset, -1px 0 0 0 rgba(0, 0, 0, 0.13) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.17) inset, 0 1px 0 0 rgba(204, 204, 204, 0.5) inset, 0 3px 1px -1px rgba(26, 26, 26, 0.07);
}
.model-wrap .btn-add:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.model-wrap .model-item {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  height: 2.8rem;
  padding: 0 1.2rem;
  border-radius: 1.4rem;
  background: var(--color-black);
  color: var(--color-white);
  font-size: 1.3rem;
  line-height: 1.38;
  font-weight: 600;
  letter-spacing: 0.0194em;
  box-shadow: 0.5px 0 0 0 rgba(255, 255, 255, 0.25) inset, -0.5px 0 0 0 rgba(255, 255, 255, 0.25) inset, 0 0.5px 0 0 rgba(255, 255, 255, 0.25) inset, 0 -0.5px 0 0 rgba(255, 255, 255, 0.25) inset, 0 3px 1px -1px rgba(26, 26, 26, 0.07);
}
.model-wrap .model-item .del {
  display: inline-flex;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/icon/icon_xmark_circle_solid.svg) no-repeat center/contain;
}

.lob-noti {
  padding: 0.4rem 0;
  color: #00bf40;
  font-size: 1.1rem;
  line-height: 1.27;
  font-weight: 500;
}

.image-guidance-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 5.9rem;
  border-radius: 0.8rem;
  border: 0.1rem dashed #d9d9d9;
  background: #f7f7f7;
  color: #777;
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 400;
  letter-spacing: 0.0252em;
  text-align: center;
}

.ctrl-switch {
  display: flex;
  justify-content: space-between;
  padding-top: 0.4rem;
  margin-top: -0.4rem;
  border: 0.1rem solid #f2f2f2;
  border-top: none;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.ctrl-switch + .dl-form {
  margin-top: 0.4rem;
}
.switch-col {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
}
.switch-col .switch-tit {
  color: #171719;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  white-space: nowrap;
}

.dl-form-item {
  display: flex;
  padding: 0.4rem 0;
}
.dl-form-item dt {
  flex: none;
  display: inline-flex;
  align-items: center;
  width: 8.8rem;
  color: var(--color-black);
  font-size: 1.2rem;
  line-height: 1.33;
  letter-spacing: 0.0252em;
  font-weight: 400;
}
.dl-form-item dd {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  min-width: 0;
}
.dl-form-item dd > * {
  flex: 1;
}

.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  border-left: 0.1rem solid #d9d9d9;
  overflow: auto;
}
#footer {
  flex: none;
  position: relative;
  padding: 0.8rem;
}
.foot-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.3rem;
  line-height: 1.38;
}
.foot-links a {
  color: #37383c9c;
}

/* tooltip */
.btn-tooltip {
  display: inline-flex;
  align-self: center;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.4rem;
  background: url(../img/icon/icon_tooltip.svg) no-repeat center/contain;
  cursor: pointer;
}
.custom-tooltip {
}

/* dropdown */
.ui-dropper {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}
.ui-dropper:hover,
.ui-dropper:focus {
  border: inherit;
  background: inherit;
  color: inherit;
  font-weight: inherit;
}

.ui-dropdown {
  position: absolute !important;
  display: none;
  width: 15.8rem;
  max-height: 23.3rem;
  overflow-y: auto;
  padding: 0.4rem;
  border: none !important;
  border-radius: 0.8rem;
  background: #fff;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.13) inset, -1px 0 0 0 rgba(0, 0, 0, 0.13) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.17) inset, 0 1px 0 0 rgba(204, 204, 204, 0.5) inset, 0 3px 1px -1px rgba(26, 26, 26, 0.07);
  text-align: left;
  z-index: 1000;
}
.ui-dropdown .ui-state-focus,
.ui-dropdown .ui-state-active {
  margin: 0;
  background: #efefef !important;
  border: none !important;
}
.ui-dropdown li a,
.ui-dropdown li p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.6rem 0.8rem !important;
  text-shadow: none !important;
  color: #171719 !important;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.33;
  letter-spacing: 0.0252em;
}
.ui-dropdown li.create-li {
  margin: -0.3rem;
  margin-bottom: 0.3rem;
  border-bottom: 0.1rem solid rgba(112, 115, 124, 0.22);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

/* member */
.memb-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.memb-head {
  flex: none;
  padding: 2rem;
  background: url(../img/bg_header.png) no-repeat 0 0;
}
.memb-head .logo {
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
}
.memb-head .logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6.4rem;
  height: 6.4rem;
  background: url(../img/logo.png) no-repeat center/contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.memb-head .logo a {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.memb-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5.6rem;
  width: 100%;
  max-width: 42rem;
  padding: 2rem 2rem 10% 2rem;
  margin: 0 auto;
}
.memb-logo {
  position: relative;
  width: 9.6rem;
  height: 9.6rem;
  margin: 0 auto;
}
.memb-logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14.4rem;
  height: 14.4rem;
  background: url(../img/logo_large.png) no-repeat center/contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.memb-success {
  position: relative;
  width: 10.6rem;
  height: 10.6rem;
  margin: 0 auto;
}
.memb-success::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17rem;
  height: 17rem;
  background: url(../img/success.png) no-repeat center/contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.memb-title {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.memb-title .title {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.0282em;
}
.memb-title .desc {
  color: #6d6d6d;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.012em;
}
.memb-title .desc a {
  color: #171719;
}
.memb-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
.form-group *:not(.form-label) {
  order: 1;
}
.form-group > *:not(.form-label) ~ *:not(.form-label) {
  margin-top: 0.3rem;
}
.form-group .form-label {
  order: 0;
  color: var(--color-black);
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 500;
  letter-spacing: 0.0252em;
}
.form-group .is-error ~ .form-label {
  color: var(--color-error);
}
.form-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-links {
  color: #171719;
  font-size: 1.3rem;
  line-height: 1.38;
  font-weight: 500;
  text-decoration: underline;
}

/* form el */
*:disabled::placeholder {
  color: #a7a7a7;
}

.is-error {
  border-color: var(--color-error) !important;
}

.input-text {
  position: relative;
  width: 100%;
  height: 3.2rem;
  padding: 0 1.5rem;
  border: 0.1rem solid #e1e2e4;
  border-radius: 0.4rem;
  background-color: #f6f6f6;
  font-size: 1.3rem;
  line-height: 1.38;
  letter-spacing: 0;
  transition: var(--transition-fast);
  outline: none;
}
.input-text:hover {
  border-color: #c2c4c8;
}
.input-text:focus-visible {
  border-color: var(--color-black);
  background-color: var(--color-white);
  box-shadow: 0 0 0 0.3rem #0000000d;
}
.input-text:active {
  border-color: #e1e2e4;
  background-color: var(--color-white);
  box-shadow: 0 0 0 0.3rem #0000000d;
}
.input-text:disabled {
  border-color: #e1e2e4;
  background-color: #f6f6f6;
  color: #a7a7a7;
  box-shadow: none;
  cursor: not-allowed;
}
.input-text[readonly] {
  border-color: #e1e2e4;
  background-color: #f6f6f6;
  color: var(--color-black);
  box-shadow: none;
}
.input-text.size-lg {
  height: 4rem;
  font-size: 1.4rem;
  line-height: 1.43;
  letter-spacing: 0.0145em;
}
.input-text.size-rg {
  height: 3.2rem;
  font-size: 1.3rem;
  line-height: 1.38;
  letter-spacing: 0;
}
.input-text.size-sm {
  height: 2.8rem;
  font-size: 1.2rem;
  line-height: 1.33;
  letter-spacing: 0.0252em;
}
textarea.input-text {
  min-height: 10.3rem;
  padding: 0.5rem 1.1rem;
  font-size: 1.2rem;
  line-height: 1.33;
  letter-spacing: 0.0252em;
  resize: vertical;
}

.input-checkbox {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.7rem;
  color: #171719;
  font-size: 2rem;
  line-height: 2.4rem;
}
.input-checkbox input[type="checkbox"] {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background: url(../img/icon/icon_checkbox_off.svg) no-repeat center/contain;
  cursor: pointer;
}
.input-checkbox input[type="checkbox"]:checked {
  background-image: url(../img/icon/icon_checkbox_on.svg);
}
.input-checkbox.size-sm {
  gap: 0.4rem;
  font-size: 1.2rem;
  line-height: 1.3;
}
.input-checkbox.size-sm input[type="checkbox"] {
  width: 1.6rem;
  height: 1.6rem;
}

.radio-group {
  display: flex;
  height: 2.8rem;
  border-radius: 1000px;
  background-color: #f7f7f7;
  box-shadow: 0 0 0 0.1rem #ededee;
}
.radio-group .radio-label {
  flex: 1;
  position: relative;
}
.radio-group .radio-label input {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.radio-group .radio-label .radio-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 1.4rem;
  background-color: transparent;
  color: #b0b0b0;
  font-size: 1.1rem;
  line-height: 2.8rem;
  font-weight: 500;
  transition: var(--transition-base);
}
.radio-group .radio-label input:checked + .radio-text {
  background-color: var(--color-black);
  color: var(--color-white);
}

.toggle-switch {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}
.toggle-switch input {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.toggle-switch .toogle-text {
  color: #37383c47;
  font-size: 1.2rem;
  line-height: 1.3;
  transition: var(--transition-fast);
}
.toggle-switch .toogle-text .on {
  display: none;
  white-space: nowrap;
}
.toggle-switch .toogle-text .off {
  display: inline-flex;
  white-space: nowrap;
}
.toggle-switch input:checked ~ .toogle-text {
  color: #58cf04;
}
.toggle-switch input:checked ~ .toogle-text .on {
  display: inline-flex;
}
.toggle-switch input:checked ~ .toogle-text .off {
  display: none;
}
.toggle-switch .val {
  position: relative;
  width: 4.8rem;
  height: 2.4rem;
  border: 0.1rem solid #70737c14;
  border-radius: 2.4rem;
  background-color: #f7f7f7;
  transition: var(--transition-fast);
}
.toggle-switch .val::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 2.4rem;
  height: 1.6rem;
  border-radius: 0.8rem;
  background-color: #37383c47;
  transition: var(--transition-fast);
}
.toggle-switch input:checked ~ .val {
  border-color: #70737c29;
  background-color: #58cf04;
}
.toggle-switch input:checked ~ .val::before {
  left: 1.9rem;
  background-color: var(--color-white);
}
.toggle-switch.size-sm .val {
  width: 3.4rem;
  height: 2rem;
  border-radius: 1.7rem;
}
.toggle-switch.size-sm .val::before {
  top: 0.1rem;
  left: 0.1rem;
  width: 2rem;
}
.toggle-switch.size-sm input:checked ~ .val::before {
  left: 1.1rem;
}

.custom-slider.ui-widget.ui-widget-content {
  height: 0.8rem;
  border: none;
  border-radius: 1.6rem;
  background-color: #e1e2e4;
}
.custom-slider .ui-widget-header {
  background-color: #4b4b4b;
}
.custom-slider.ui-slider .ui-slider-handle {
  width: 1.2rem;
  height: 2rem;
  margin-left: -0.6rem;
  border: 0.2rem solid var(--color-white);
  border-radius: 1rem;
  background-color: var(--color-black);
}
.custom-slider.ui-slider-horizontal .ui-slider-handle {
  top: -0.6rem;
}

.custom-select {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3.2rem;
  padding: 0 1.5rem;
  margin: 0;
  border: 0.1rem solid #e1e2e4;
  border-radius: 0.4rem;
  background-color: #f6f6f6;
  color: var(--color-black);
  font-size: 1.3rem;
  line-height: 1.38;
  letter-spacing: 0;
  font-family: var(--font-family);
  transition: var(--transition-fast);
  outline: none;
}
.custom-select.ui-selectmenu-button.ui-button {
  width: 100%;
}
.custom-select .ui-icon {
  position: absolute;
  top: 50%;
  right: 1.1rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_nav_arrow_down.svg) no-repeat center/contain;
  transform: translateY(-50%);
}
.custom-select.ui-state-hover .ui-icon,
.custom-select.ui-state-focus .ui-icon,
.custom-select:hover .ui-icon,
.custom-select:focus .ui-icon {
  background-image: url(../img/icon/icon_nav_arrow_down.svg);
}
.custom-select .ui-selectmenu-text {
  margin-right: 0;
}
.custom-select.ui-button:hover {
  border-color: #c2c4c8;
  background-color: #f6f6f6;
  color: inherit;
}
.custom-select.ui-button:focus-visible,
.custom-select.ui-button.ui-selectmenu-button-open {
  border-color: var(--color-black);
  background-color: var(--color-white);
  color: inherit;
  box-shadow: none;
}
.custom-select.ui-button:active {
  border-color: #e1e2e4;
  background-color: var(--color-white);
  box-shadow: 0 0 0 0.3rem #0000000d;
  color: inherit;
}
.custom-select.ui-selectmenu-button.ui-button.ui-state-disabled {
  border-color: #e1e2e4;
  background-color: #f6f6f6;
  color: #a7a7a7;
  box-shadow: none;
  cursor: not-allowed !important;
  opacity: 1;
  pointer-events: unset;
}
.custom-select.size-lg {
  height: 4rem;
  font-size: 1.4rem;
  line-height: 1.43;
  letter-spacing: 0.0145em;
}
.custom-select.size-rg {
  height: 3.2rem;
  font-size: 1.3rem;
  line-height: 1.38;
  letter-spacing: 0;
}
.custom-select.size-sm {
  height: 2.8rem;
  font-size: 1.2rem;
  line-height: 1.33;
  letter-spacing: 0.0252em;
}

.custom-selectmenu-menu {
  max-height: 22rem;
  overflow-y: auto;
}
.custom-selectmenu-menu.ui-widget.ui-widget-content {
  padding: 0.3rem 0;
  border: 0.1rem solid #dedede;
  border-radius: 0.8rem;
  color: var(--color-black);
}
.custom-selectmenu-menu.ui-menu .ui-menu-item-wrapper {
  display: flex;
  gap: 0.8rem;
  padding: 0.6rem 1.1rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.custom-selectmenu-menu.ui-menu .ui-menu-item-wrapper.ui-state-active {
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  font-weight: 700;
}
.custom-selectmenu-menu.ui-menu .ui-menu-item-wrapper .icon {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 3.2rem;
  padding: 0 1.6rem;
  border: 0.1rem solid var(--color-black);
  border-radius: 0.4rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1.5rem;
  line-height: 1.47;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.0096em;
  transition: var(--transition-fast);
  outline: none;
}
.btn-style:hover {
  border-color: #70737c38;
  background-color: #2e2f33e0;
  color: var(--color-white);
  font-weight: 500;
}
.btn-style:focus {
  border-color: #3385ff;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 500;
  box-shadow: 0 0 0 0.1rem #3385ff;
}
.btn-style:active {
  border-color: #70737c38;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 500;
  box-shadow: 0 0 0 0.3rem #0000000d;
}
.btn-style:disabled {
  border-color: #70737c38;
  background-color: #b0b0b0;
  color: var(--color-white);
  font-weight: 500;
  box-shadow: none;
  cursor: not-allowed;
}

.btn-style.outline {
  border-color: #70737c38;
  background-color: var(--color-white);
  color: var(--color-black);
}
.btn-style.outline:hover {
  border-color: #70737c38;
  background-color: #f7f7f8;
  color: var(--color-black);
}
.btn-style.outline:active {
  border-color: #70737c85;
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 0 0 0 0.3rem #0000000d;
}
.btn-style.outline:focus {
  border-color: #000000;
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: none;
}
.btn-style.outline:disabled {
  border-color: #70737c38;
  background-color: var(--color-white);
  color: #a7a7a7;
  box-shadow: none;
  cursor: not-allowed;
}

.btn-style.size-lg {
  height: 4rem;
  font-size: 1.5rem;
  line-height: 1.47;
  letter-spacing: 0.0096em;
}
.btn-style.size-rg {
  height: 3.2rem;
  font-size: 1.5rem;
  line-height: 1.47;
  letter-spacing: 0.0096em;
}
.btn-style.size-sm {
  height: 2.8rem;
  font-size: 1.3rem;
  line-height: 1.38;
  letter-spacing: 0.0194em;
}
.btn-style.size-xs {
  height: 2.4rem;
  font-size: 1.2rem;
  line-height: 1.33;
  letter-spacing: 0.0252em;
}

.btn-with {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 4rem;
  border: 0.1rem solid #cccccc80;
  border-radius: 0.4rem;
  background-color: #f7f7f7;
  color: var(--color-black);
  font-size: 1.5rem;
  line-height: 1.47;
  font-weight: 500;
  letter-spacing: 0.0096em;
  box-shadow: 0 0.3rem 0.1rem -0.1rem #1a1a1a0d;
  transition: var(--transition-base);
}

.icon-google-color {
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icon/icon_google_color.svg) no-repeat center/contain;
}

/* contents */
.tab {
  flex: none;
  display: flex;
  align-items: center;
  height: 4.8rem;
  padding: 0 2rem;
  border-bottom: 0.1rem solid #d9d9d9;
  background: url(../img/bg_tab.png) no-repeat 0 0 #f6f6f6;
}
.tab.no-bg-center {
  justify-content: center;
  height: auto;
  padding: 1.6rem;
  border-bottom: none;
  background: none;
}
.tab a {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  height: 3.6rem;
  padding: 0 1.6rem;
  border-radius: 1.8rem;
  color: var(--color-black);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.0057em;
}
.tab a .discount {
  color: #58cf04;
  font-size: 1.1rem;
  line-height: 1.27;
  font-weight: 700;
  letter-spacing: 0.0311em;
}
.tab a.active {
  background-color: var(--color-black);
  color: var(--color-white);
}
.inner-content {
  padding: 2rem;
}
.title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
}
.title-17 {
  font-size: 1.7rem;
  line-height: 1.412;
  font-weight: 700;
}
.btn-toggle-acc {
  display: inline-flex;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.4rem;
  background: none;
}
.btn-toggle-acc::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: url(../img/icon/icon_arrow_down.svg) no-repeat center/contain;
  transform: rotate(0deg);
}
.btn-toggle-acc.open::before {
  transform: rotate(180deg);
}

/* icon */
.icon-plus-circle {
  flex: none;
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_plus_circle.svg) no-repeat center/contain;
}
.icon-profile-circle {
  flex: none;
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon-profile-circle.svg) no-repeat center/contain;
}
.icon-badge-check {
  flex: none;
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_badge_check.svg) no-repeat center/contain;
}
.icon-help-circle {
  flex: none;
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_help_circle.svg) no-repeat center/contain;
}
.icon-log-out {
  flex: none;
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_log_out.svg) no-repeat center/contain;
}
.icon-plus-circle-solid {
  flex: none;
  display: inline-flex;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/icon/icon_plus_circle_solid.svg) no-repeat center/contain;
}
.icon-progress-noti {
  flex: none;
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_progress_noti.svg) no-repeat center/contain;
}
.icon-meia-image-plus {
  flex: none;
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icon/icon_media_image_plus.svg) no-repeat center/contain;
}
.icon-bin-full {
  flex: none;
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_bin_full.svg) no-repeat center/contain;
}

/* cont */
.masonry-grid {
  width: 100%;
}
.masonry-grid .grid-item {
  width: 23.6rem;
  margin-bottom: 0.2rem;
}
.masonry-grid .img-box {
  position: relative;
}
.masonry-grid .img-box .img-info {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.masonry-grid .img-box .img-info .name {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem;
  color: var(--color-white);
  font-size: 1.3rem;
  line-height: 1.38;
  font-weight: 500;
  letter-spacing: 0.0194em;
}
.masonry-grid .img-box .img-info .name .avatar {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: rgba(211, 211, 211, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.13) inset, -1px 0 0 0 rgba(0, 0, 0, 0.13) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.17) inset, 0 1px 0 0 rgba(204, 204, 204, 0.5) inset, 0 3px 1px -1px rgba(26, 26, 26, 0.07);
}
.masonry-grid .img-box .img-info .like-cnt {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin: 1rem 1rem 1rem auto;
  color: var(--color-white);
  font-size: 1.3rem;
  line-height: 1.38;
  font-weight: 500;
  letter-spacing: 0.0194em;
}
.masonry-grid .img-box .img-info .like-cnt .icon {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/icon_heart.svg) no-repeat center/contain;
}
.masonry-grid .img-box .img-info .like-cnt .icon.on {
  background-image: url(../img/icon/icon_heart_on.svg);
}
.masonry-grid .img-box .img img {
  width: 100%;
}

.group-flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem;
  margin-left: -2rem;
  padding: 0 2rem;
}
.group-flex.progress {
  background-color: #f2fff6;
}
.group-flex .cont-body {
  flex: 1;
  flex: 0 0 calc(100% - 25.5rem);
  padding: 0.8rem 0;
}
.group-flex .text-info {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 25.5rem;
  padding: 0.8rem 0 0.8rem 3.2rem;
}
.group-flex .text-info .text-sec {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
  padding: 0.4rem;
  border-radius: 0.4rem;
  background-color: var(--color-white);
}
.group-flex .text-info .text-sec:hover {
  background-color: #f7f7f7;
}
.group-flex .text-info .text-sec:hover .copy {
  display: inline-flex;
}
.group-flex .text-info .text-sec .text {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #2e2f33e0;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.04em;
}
.group-flex .text-info .text-sec .text.view-full {
  -webkit-line-clamp: unset;
}
.group-flex .text-info .text-sec .copy {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 6.2rem;
  height: 2.4rem;
  border: 0.1rem solid #70737c38;
  border-radius: 0.4rem;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 500;
  letter-spacing: 0.0252em;
}
.group-flex .text-info .text-sec .more {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #171719;
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 400;
  letter-spacing: 0.0252em;
}
.group-flex .text-info .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 1.2rem;
}
.group-flex .text-info .tags .tag {
  display: inline-flex;
  height: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
  color: #444;
  font-size: 1.2rem;
  line-height: 1;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.image-list > li {
  flex: 0 0 calc((100% - 0.8rem * 3) / 4);
  position: relative;
  box-sizing: border-box;
}
.image-list > li .in-box {
  position: relative;
}
.image-list > li .in-box .img {
  border-radius: 0.4rem;
  overflow: hidden;
}
.image-list > li .in-box .img img {
  width: 100%;
}
.image-list > li .in-box .tag-name {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 0.8rem;
  left: 0.8rem;
  padding: 0.4rem 1rem 0.5rem;
  border-radius: 5rem;
  background-color: var(--color-white);
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 400;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.video-list > li {
  flex: 0 0 calc((100% - 0.8rem * 2) / 3);
  position: relative;
  box-sizing: border-box;
}
.video-list > li .in-box {
  position: relative;
}
.video-list > li .in-box .img {
  border-radius: 0.4rem;
  overflow: hidden;
}
.video-list > li .in-box .img img {
  width: 100%;
}
.video-list > li .in-box .tag-name {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 0.8rem;
  left: 0.8rem;
  padding: 0.4rem 1rem 0.5rem;
  border-radius: 5rem;
  background-color: var(--color-white);
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 400;
}

.progress-noti {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding: 0.8rem 0;
  color: #1ed45a;
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 600;
}

.progress-item {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  background: #ebecef;
}
.progress-item .progress-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.1rem;
}
.progress-item .progress-info .text {
  width: 100%;
  color: #171719;
  font-size: 1.1rem;
  line-height: 1.27;
  font-weight: 400;
  letter-spacing: 0.0311;
}
.progress-item .progress-info .val-box {
  position: relative;
  width: 5.6rem;
  height: 0.6rem;
  border-radius: 10rem;
  background-color: var(--color-white);
}
.progress-item .progress-info .val-box .val {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 10rem;
  background-color: #171719;
}

.plans-wrap {
  display: flex;
  flex-direction: column;
  padding: 4.8rem 0;
}
.plans-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
