@import url(fonts.css);
@import url(reset.css);

/* common.css: 프로젝트 공통 변수 및 클래스 */
:root {
  /* 루트 폰트 크기: 디자인 px 단위 매핑 */
  font-size: 62.5%; /* 1rem = 10px (16px * 0.625) */

  /* 색상 */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #666;

  --color-error: #ff4242;

  --color-bg: #fff;
  --color-focus: var(--color-black);

  /* 폰트 */
  --font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  /* 기타 */
  --transition-base: 0.4s ease-in-out;
}

*:focus-visible {
  /* outline: 0.2rem solid var(--color-black); */
}

body {
  background-color: var(--color-bg);
  color: var(--color-black);
  font-size: 1.2rem;
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0;
}
input,
select,
textarea,
button {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0;
}

/* 마진 유틸리티 클래스: 전체 (mg-) */
.mg-0 {
  margin: 0 !important;
}
.mg-04 {
  margin: 0.4rem !important;
}
.mg-08 {
  margin: 0.8rem !important;
}
.mg-12 {
  margin: 1.2rem !important;
}
.mg-16 {
  margin: 1.6rem !important;
}
.mg-20 {
  margin: 2rem !important;
}
.mg-24 {
  margin: 2.4rem !important;
}
.mg-28 {
  margin: 2.8rem !important;
}
.mg-32 {
  margin: 3.2rem !important;
}
.mg-36 {
  margin: 3.6rem !important;
}
.mg-40 {
  margin: 4rem !important;
}
.mg-auto {
  margin: auto !important;
}

/* 마진 유틸리티 클래스: x축 (mx-) */
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-04 {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}
.mx-08 {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}
.mx-12 {
  margin-left: 1.2rem !important;
  margin-right: 1.2rem !important;
}
.mx-16 {
  margin-left: 1.6rem !important;
  margin-right: 1.6rem !important;
}
.mx-20 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
.mx-24 {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}
.mx-28 {
  margin-left: 2.8rem !important;
  margin-right: 2.8rem !important;
}
.mx-32 {
  margin-left: 3.2rem !important;
  margin-right: 3.2rem !important;
}
.mx-36 {
  margin-left: 3.6rem !important;
  margin-right: 3.6rem !important;
}
.mx-40 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* 마진 유틸리티 클래스: y축 (my-) */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-04 {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}
.my-08 {
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}
.my-12 {
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}
.my-16 {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}
.my-20 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.my-24 {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
}
.my-28 {
  margin-top: 2.8rem !important;
  margin-bottom: 2.8rem !important;
}
.my-32 {
  margin-top: 3.2rem !important;
  margin-bottom: 3.2rem !important;
}
.my-36 {
  margin-top: 3.6rem !important;
  margin-bottom: 3.6rem !important;
}
.my-40 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* 마진 유틸리티 클래스: 방향별 */
.mt-0 {
  margin-top: 0 !important;
}
.mt-04 {
  margin-top: 0.4rem !important;
}
.mt-08 {
  margin-top: 0.8rem !important;
}
.mt-12 {
  margin-top: 1.2rem !important;
}
.mt-16 {
  margin-top: 1.6rem !important;
}
.mt-20 {
  margin-top: 2rem !important;
}
.mt-24 {
  margin-top: 2.4rem !important;
}
.mt-28 {
  margin-top: 2.8rem !important;
}
.mt-32 {
  margin-top: 3.2rem !important;
}
.mt-40 {
  margin-top: 4rem !important;
}
.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-04 {
  margin-right: 0.4rem !important;
}
.mr-08 {
  margin-right: 0.8rem !important;
}
.mr-12 {
  margin-right: 1.2rem !important;
}
.mr-16 {
  margin-right: 1.6rem !important;
}
.mr-20 {
  margin-right: 2rem !important;
}
.mr-24 {
  margin-right: 2.4rem !important;
}
.mr-28 {
  margin-right: 2.8rem !important;
}
.mr-32 {
  margin-right: 3.2rem !important;
}
.mr-40 {
  margin-right: 4rem !important;
}
.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-04 {
  margin-bottom: 0.4rem !important;
}
.mb-08 {
  margin-bottom: 0.8rem !important;
}
.mb-12 {
  margin-bottom: 1.2rem !important;
}
.mb-16 {
  margin-bottom: 1.6rem !important;
}
.mb-20 {
  margin-bottom: 2rem !important;
}
.mb-24 {
  margin-bottom: 2.4rem !important;
}
.mb-28 {
  margin-bottom: 2.8rem !important;
}
.mb-32 {
  margin-bottom: 3.2rem !important;
}
.mb-40 {
  margin-bottom: 4rem !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-04 {
  margin-left: 0.4rem !important;
}
.ml-08 {
  margin-left: 0.8rem !important;
}
.ml-12 {
  margin-left: 1.2rem !important;
}
.ml-16 {
  margin-left: 1.6rem !important;
}
.ml-20 {
  margin-left: 2rem !important;
}
.ml-24 {
  margin-left: 2.4rem !important;
}
.ml-28 {
  margin-left: 2.8rem !important;
}
.ml-32 {
  margin-left: 3.2rem !important;
}
.ml-40 {
  margin-left: 4rem !important;
}
.ml-auto {
  margin-left: auto !important;
}

/* 패딩 유틸리티 클래스: 전체 (pd-) */
.pd-0 {
  padding: 0 !important;
}
.pd-04 {
  padding: 0.4rem !important;
}
.pd-08 {
  padding: 0.8rem !important;
}
.pd-12 {
  padding: 1.2rem !important;
}
.pd-16 {
  padding: 1.6rem !important;
}
.pd-20 {
  padding: 2rem !important;
}
.pd-24 {
  padding: 2.4rem !important;
}
.pd-28 {
  padding: 2.8rem !important;
}
.pd-32 {
  padding: 3.2rem !important;
}
.pd-40 {
  padding: 4rem !important;
}

/* 패딩 유틸리티 클래스: x축 (px-) */
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-04 {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}
.px-08 {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}
.px-12 {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}
.px-16 {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}
.px-20 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.px-24 {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
}
.px-28 {
  padding-left: 2.8rem !important;
  padding-right: 2.8rem !important;
}
.px-32 {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
}
.px-40 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

/* 패딩 유틸리티 클래스: y축 (py-) */
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-04 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}
.py-08 {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}
.py-12 {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}
.py-16 {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}
.py-20 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.py-24 {
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}
.py-28 {
  padding-top: 2.8rem !important;
  padding-bottom: 2.8rem !important;
}
.py-32 {
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
}
.py-40 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

/* 패딩 유틸리티 클래스: 방향별 */
.pt-0 {
  padding-top: 0 !important;
}
.pt-04 {
  padding-top: 0.4rem !important;
}
.pt-08 {
  padding-top: 0.8rem !important;
}
.pt-12 {
  padding-top: 1.2rem !important;
}
.pt-16 {
  padding-top: 1.6rem !important;
}
.pt-20 {
  padding-top: 2rem !important;
}
.pt-24 {
  padding-top: 2.4rem !important;
}
.pt-28 {
  padding-top: 2.8rem !important;
}
.pt-32 {
  padding-top: 3.2rem !important;
}
.pt-40 {
  padding-top: 4rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pr-04 {
  padding-right: 0.4rem !important;
}
.pr-08 {
  padding-right: 0.8rem !important;
}
.pr-12 {
  padding-right: 1.2rem !important;
}
.pr-16 {
  padding-right: 1.6rem !important;
}
.pr-20 {
  padding-right: 2rem !important;
}
.pr-24 {
  padding-right: 2.4rem !important;
}
.pr-28 {
  padding-right: 2.8rem !important;
}
.pr-32 {
  padding-right: 3.2rem !important;
}
.pr-40 {
  padding-right: 4rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-04 {
  padding-bottom: 0.4rem !important;
}
.pb-08 {
  padding-bottom: 0.8rem !important;
}
.pb-12 {
  padding-bottom: 1.2rem !important;
}
.pb-16 {
  padding-bottom: 1.6rem !important;
}
.pb-20 {
  padding-bottom: 2rem !important;
}
.pb-24 {
  padding-bottom: 2.4rem !important;
}
.pb-28 {
  padding-bottom: 2.8rem !important;
}
.pb-32 {
  padding-bottom: 3.2rem !important;
}
.pb-40 {
  padding-bottom: 4rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-04 {
  padding-left: 0.4rem !important;
}
.pl-08 {
  padding-left: 0.8rem !important;
}
.pl-12 {
  padding-left: 1.2rem !important;
}
.pl-16 {
  padding-left: 1.6rem !important;
}
.pl-20 {
  padding-left: 2rem !important;
}
.pl-24 {
  padding-left: 2.4rem !important;
}
.pl-28 {
  padding-left: 2.8rem !important;
}
.pl-32 {
  padding-left: 3.2rem !important;
}
.pl-40 {
  padding-left: 4rem !important;
}

/* gap */
.gap-04 {
  gap: 0.4rem !important;
}
.gap-06 {
  gap: 0.6rem !important;
}
.gap-08 {
  gap: 0.8rem !important;
}
.gap-10 {
  gap: 1rem !important;
}
.gap-12 {
  gap: 1.2rem !important;
}
.gap-16 {
  gap: 1.6rem !important;
}
.gap-20 {
  gap: 2rem !important;
}
.gap-24 {
  gap: 2.4rem !important;
}
.gap-32 {
  gap: 3.2rem !important;
}
.gap-36 {
  gap: 3.6rem !important;
}
.gap-40 {
  gap: 4rem !important;
}

/* 추가 유틸리티 클래스 */
.scroll-no {
  overflow: hidden !important;
}
.w-full {
  width: 100% !important;
}
.w-auto {
  width: auto !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.hidden {
  display: none !important;
}
.bg-none {
  background: none !important;
}

.blind,
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* flex grid */
.flex {
  display: flex !important;
}
.flex-1 {
  flex: 1 !important;
}
.flex-none {
  flex: none !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}
.items-start {
  align-items: flex-end !important;
}
.items-center {
  align-items: center !important;
}
.items-end {
  align-items: flex-end !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}

/* layout */
#wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  min-height: 100vh;
}
#header {
  flex: none;
  position: relative;
  padding: 1.1rem 2.4rem;
  border-bottom: 0.1rem solid #d9d9d9;
}
.header-in {
  display: flex;
  align-items: center;
}
.header-in .logo {
  display: inline-flex;
}
.header-in .logo a {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
}
.header-in .logo .logo-img {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}
.header-in .logo .logo-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  background: url(../img/logo_small.png) no-repeat center/contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.header-in .logo .logo-text {
  width: 5.4rem;
  height: 2rem;
  background: url(../img/logo_small_text.svg) no-repeat center;
}
.header-in .utilbox {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-in .utilbox button + button {
  margin-left: 0.5rem;
}
.header-in .utilbox .user-on {
  display: flex;
  align-items: center;
}
.header-in .utilbox .user-on::before {
  content: "";
  width: 0.1rem;
  height: 1.6rem;
  margin: 0 1.6rem;
  background-color: #d9d9d9;
}
.header-in .utilbox .user-on .notify {
  display: inline-flex;
  width: 2.8rem;
  height: 2.8rem;
  background: url(../img/icon/icon_bell.svg) no-repeat center/1.6rem;
}
.header-in .utilbox .user-on .user {
  display: inline-flex;
  position: relative;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  box-shadow: 0 0.3rem 0.1rem -0.1rem #1a1a1a12;
}
.header-in .utilbox .user-on .user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url(../img/bg_user.svg) no-repeat center/contain;
}
#container {
  flex: 1;
  display: flex;
}
.lnb {
  flex: none;
  padding: 1.6rem;
  border-right: 0.1rem solid #d9d9d9;
}
.lnb .top-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}
.lnb .top-toggle .btn-toggle {
  display: inline-flex;
  width: 2.8rem;
  height: 2.4rem;
  border-radius: 0.2rem;
  background: url(../img/icon/icon_menu_open.svg) no-repeat center;
  background-color: #f7f7f7;
  transition: var(--transition-base);
}
.lnb.close .top-toggle .btn-toggle {
  background-image: url(../img/icon/icon_menu_open.svg);
}
.lnb .lnb-menu {
}
.lnb .lnb-menu > li > a {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 0.3rem;
  border: 0.1rem solid transparent;
  border-radius: 0.4rem;
}
.lnb .lnb-menu > li > a .icon {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0.2rem;
  background-color: #ebebeb;
}
.lnb .lnb-menu > li > a.active .icon {
  background-color: #000;
}
.lnb .lnb-menu > li > a .text {
  color: #171719;
  font-size: 1.4rem;
  line-height: 1.43;
  font-weight: 500;
  letter-spacing: 0.0145em;
}
.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#footer {
  flex: none;
  position: relative;
  padding: 0.8rem;
}
.foot-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.3rem;
  line-height: 1.38;
}
.foot-links a {
  color: #37383c9c;
}

/* member */
.memb-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.memb-head {
  flex: none;
  padding: 2rem;
  background: url(../img/bg_header.png) no-repeat 0 0;
}
.memb-head .logo {
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
}
.memb-head .logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6.4rem;
  height: 6.4rem;
  background: url(../img/logo.png) no-repeat center/contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.memb-head .logo a {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.memb-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5.6rem;
  width: 100%;
  max-width: 42rem;
  padding: 2rem 2rem 10% 2rem;
  margin: 0 auto;
}
.memb-logo {
  position: relative;
  width: 9.6rem;
  height: 9.6rem;
  margin: 0 auto;
}
.memb-logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14.4rem;
  height: 14.4rem;
  background: url(../img/logo_large.png) no-repeat center/contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.memb-success {
  position: relative;
  width: 10.6rem;
  height: 10.6rem;
  margin: 0 auto;
}
.memb-success::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17rem;
  height: 17rem;
  background: url(../img/success.png) no-repeat center/contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.memb-title {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.memb-title .title {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.0282em;
}
.memb-title .desc {
  color: #6d6d6d;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.012em;
}
.memb-title .desc a {
  color: #171719;
}
.memb-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
.form-group *:not(.form-label) {
  order: 1;
}
.form-group > *:not(.form-label) ~ *:not(.form-label) {
  margin-top: 0.3rem;
}
.form-group .form-label {
  order: 0;
  color: var(--color-black);
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 500;
  letter-spacing: 0.0252em;
}
.form-group .is-error ~ .form-label {
  color: var(--color-error);
}
.form-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-links {
  color: #171719;
  font-size: 1.3rem;
  line-height: 1.38;
  font-weight: 500;
  text-decoration: underline;
}

/* form el */
*::placeholder {
  color: #666;
}
.is-error {
  border-color: var(--color-error) !important;
}
.input-text {
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  border: 0.1rem solid #cccccc80;
  border-radius: 0.4rem;
  background-color: #f6f6f6;
  font-size: 1.4rem;
  line-height: 1.43;
  letter-spacing: 0.0145em;
  box-shadow: 0 0.2rem 0.1rem -0.1rem #1a1a1a0d;
  transition: var(--transition-base);
}

.input-checkbox {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.7rem;
  color: #171719;
  font-size: 2rem;
  line-height: 2.4rem;
}
.input-checkbox input[type="checkbox"] {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background: url(../img/icon/icon_checkbox_off.svg) no-repeat center/contain;
  appearance: none;
  cursor: pointer;
}
.input-checkbox input[type="checkbox"]:checked {
  background-image: url(../img/icon/icon_checkbox_on.svg);
}

.btn-type01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 1.6rem;
  border: 0.1rem solid var(--color-black);
  border-radius: 0.4rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1.5rem;
  line-height: 1.47;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.0096em;
  transition: var(--transition-base);
}
.btn-type01.h-28 {
  height: 2.8rem;
  font-size: 1.3rem;
  line-height: 1.38;
  letter-spacing: 0.0194em;
}
.btn-type01.bg-white {
  border: 0.1rem solid #cccccc80;
  background-color: var(--color-white);
  color: var(--color-black);
}
.btn-with {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 4rem;
  border: 0.1rem solid #cccccc80;
  border-radius: 0.4rem;
  background-color: #f7f7f7;
  color: var(--color-black);
  font-size: 1.5rem;
  line-height: 1.47;
  font-weight: 500;
  letter-spacing: 0.0096em;
  box-shadow: 0 0.3rem 0.1rem -0.1rem #1a1a1a0d;
  transition: var(--transition-base);
}

.icon-google-color {
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icon/icon_google_color.svg) no-repeat center/contain;
}
